[submodule "themes/capsule"]
	path = themes/capsule
	url = https://github.com/sudorook/capsule
[submodule "public"]
	path = public
	url = git@github.com:pdot715/pdot715.github.io.git
	branch = master
